<div class="gallery">
    <ul>
        <li><a href="#"><img alt="" src="images/2page-img1.jpg" /></a></li>
        <li><a href="#"><img alt="" src="images/2page-img2.jpg" /></a></li>
        <li><a href="#"><img alt="" src="images/2page-img3.jpg" /></a></li>
        <li><a href="#"><img alt="" src="images/2page-img4.jpg" /></a></li>
        <li><a href="#"><img alt="" src="images/2page-img5.jpg" /></a></li>
        <li><a href="#"><img alt="" src="images/2page-img6.jpg" /></a></li>
    </ul>
</div>
<div class="wrapper">
    <div class="aside maxheight">
        <!-- box begin -->
        <div class="box maxheight">
            <div class="inner">
                <h3>Другие услуги</h3>
                <div class="txt1">
                    <p>В дополнение к жилью мы также предлагаем</p>
                    <ul class="img-list">
                        <li><img alt="" src="images/2page-img7.jpg" />Премиум-питание (в ресторане или в номер)</li>
                        <li><img alt="" src="images/2page-img8.jpg" />Напитки в номере</li>
                        <li><img alt="" src="images/2page-img9.jpg" />Ежедневная уборка (входит в пакет)</li>
                        <li><img alt="" src="images/2page-img10.jpg" />Свободный доступ в наш спортзал и бассейн</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- box end -->
    </div>
    <div class="content">
        <div class="indent">
            <h2>Мы предлагаем несколько видов комнат</h2>
            <div class="container" id="containerServices">
                <script type="text/javascript" src="js/booking/booking.js"/>
                <script type="text/javascript" src="js/services/services.js"/>
                <script type="text/javascript">
                    preparationGenerateRooms();
                </script>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>