<div class="room">
    <img src="images/2page-img11.png" class="extra-img png"/>
    <dl class="list1">
        <dt name="name"></dt>
        <dd><span name="floor"></span>Этаж</dd>
        <dd><span name="roomsCount"></span>Количество комнат:</dd>
        <dd><span name="bedsCount"></span>Количество кроватей:</dd>
        <dd><span name="size"></span>Размер</dd>
        <dd class="alt"><span name="bathroomsCount"></span>Ванны:</dd>
        <dd class="last"><span name="costPerDay"></span>Цена за день:</dd>
    </dl>
    <div class="button" id="idRoom" onclick='reservateRoom(this)'><span><span><a class="classReservationRoom">Забронировать сейчас!</a></span></span></div>
</div>