<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
            <h4 class="modal-title">Modify row</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal" id="mainForm">
                <div class="form-group">
                    <label for="id" class="col-sm-4 control-label">ID</label>
                    <div class="col-sm-8">
                        <input type="id" class="form-control" id="id" name="id" placeholder="ID" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateIn" class="col-sm-4 control-label">Date In</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="dateIn" name="dateIn" placeholder="Date In">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateOut" class="col-sm-4 control-label">Date Out</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="dateOut" name="dateOut" placeholder="Date Out">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-4 control-label">UserID</label>
                    <div class="col-sm-8" >
                        <select class="form-control" id="idUser" name="idUser">

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="costAdditionalServices" class="col-sm-4 control-label">Cost Additional Services</label>
                    <div class="col-sm-8">
                        <input type="costAdditionalServices" class="form-control" id="costAdditionalServices" name="costAdditionalServices" placeholder="Cost Additional Services">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-4 control-label">DiscountID</label>
                    <div class="col-sm-8" >
                        <select class="form-control" id="idDiscount" name="idDiscount">

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button style="width:100%" onclick="" class="btn btn-success">Подтвердить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
    </div>
</div>