<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
            <h4 class="modal-title">Modify row</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal" id="mainForm">
                <div class="form-group">
                    <label for="id" class="col-sm-4 control-label">ID</label>
                    <div class="col-sm-8">
                        <input type="id" class="form-control" id="id" name="id" placeholder="ID" readonly >
                    </div>
                </div>
                <div class="form-group">
                    <label for="nameRole" class="col-sm-4 control-label">Name Role</label>
                    <div class="col-sm-8">
                        <input type="nameRole" class="form-control" id="nameRole" name="nameRole" placeholder="Name Role">
                    </div>
                </div>
                <div class="form-group">
                    <label for="update" class="col-sm-4 control-label">Update</label>
                    <div class="col-sm-8">
                        <input type="update" class="form-control" id="update" name="update" placeholder="Update">
                    </div>
                </div>
                <div class="form-group">
                    <label for="delete" class="col-sm-4 control-label">Delete</label>
                    <div class="col-sm-8">
                        <input type="delete" class="form-control" id="delete" name="delete" placeholder="Delete">
                    </div>
                </div>
                <div class="form-group">
                    <label for="insert" class="col-sm-4 control-label">Insert</label>
                    <div class="col-sm-8">
                        <input type="insert" class="form-control" id="insert" name="insert" placeholder="Insert">
                    </div>
                </div>
                <div class="form-group">
                    <label for="create" class="col-sm-4 control-label">Create</label>
                    <div class="col-sm-8">
                        <input type="create" class="form-control" id="create" name="create" placeholder="Create">
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class="col-sm-4 control-label">Select</label>
                    <div class="col-sm-8">
                        <input type="select" class="form-control" id="select" name="select" placeholder="Select">
                    </div>
                </div>
                <div class="form-group">
                    <label for="drop" class="col-sm-4 control-label">Drop</label>
                    <div class="col-sm-8">
                        <input type="drop" class="form-control" id="drop" name="drop" placeholder="Drop">
                    </div>
                </div>
                <div class="form-group">
                    <label for="grant" class="col-sm-4 control-label">Grant</label>
                    <div class="col-sm-8">
                        <input type="grant" class="form-control" id="grant" name="grant" placeholder="Grant">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button style="width:100%" onclick="" class="btn btn-success">Подтвердить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
    </div>
</div>