<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
            <h4 class="modal-title">Modify row</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal" id="mainForm">
            <div class="form-group">
                <label for="id" class="col-sm-4 control-label">ID</label>
                <div class="col-sm-8">
                    <input type="id" class="form-control" id="id" name="id" placeholder="ID" readonly   >
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Name</label>
                <div class="col-sm-8">
                    <input type="name" class="form-control" id="name" name="name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="surname" class="col-sm-4 control-label">SurName</label>
                <div class="col-sm-8">
                    <input type="surname" class="form-control" id="surname" name="surname" placeholder="SurName">
                </div>
            </div>
                <div class="form-group">
                    <label for="email" class="col-sm-4 control-label">E-mail</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
                    </div>
                </div>
            <div class="form-group">
                <label for="mobilePhone" class="col-sm-4 control-label">Mobile Phone</label>
                <div class="col-sm-8">
                    <input type="mobilePhone" class="form-control" id="mobilePhone" name="mobilePhone" placeholder="Mobile Phone">
                </div>
            </div>
            <div class="form-group">
                <label for="login" class="col-sm-4 control-label">Login</label>
                <div class="col-sm-8">
                    <input type="login" class="form-control" id="login" name="login" placeholder="Login">
                </div>
            </div>
            <div class="form-group">
                <label for="passportNumber" class="col-sm-4 control-label">Passport Number</label>
                <div class="col-sm-8">
                    <input type="passportNumber" class="form-control" id="passportNumber" name="passportNumber" placeholder="Passport Number">
                </div>
            </div>
            <div class="form-group">
                <label for="pass" class="col-sm-4 control-label">Password</label>
                <div class="col-sm-8">
                    <input type="pass" class="form-control" id="pass" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-4 control-label">RoleID</label>
                <div class="col-sm-8" >
                    <select class="form-control" id="idRole" name="idRole">

                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button onclick="" style="width:100%" class="btn btn-success">Подтвердить</button>
                </div>
            </div>
        </div></div>
        <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
    </div>
</div>