<div class="wrapper">
    <div class="aside maxheight">
        <div class="box maxheight">
            <div class="inner">
                <h3>Reservation:</h3>
                <form action="" id="reservation-form">
                    <fieldset>
                        <div class="field"><label>Дата заезда:</label><select class="select1"><option>30</option></select><select class="select2"><option>April 2009</option></select></div>
                        <div class="field"><label>Дата отбытия:</label><select class="select1"><option>01</option></select><select class="select2"><option>May 2009</option></select></div>
                        <div class="field">Количество:<input type="text" value="1"/> Комнат:&nbsp; <input type="text" value="1"/></div>
                        <div class="button"><span><span><a href="#" onclick="document.getElementById('reservation-form').submit()">Поиск</a></span></span></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="indent">
            <h2>Отель Бобруйск преветствует вас!</h2>
            <img class="img-indent png" alt="" src="images/1page-img1.png" />
            <p class="alt-top">Приезжайте один или привезите свою семью с собой, оставайтесь здесь на ночь или на несколько недель, оставайтесь здесь во время деловой поездки или на какой-либо конференции - в любом случае наша гостиница - наилучший вариант. Не стесняйтесь обращаться к нам в любое время, если у вас есть какие-либо вопросы.</p>
            <div class="clear"></div>
            <div class="line-hor"></div>
            <div class="wrapper line-ver">
                <div class="col-1">
                    <h3>Специльные предложения</h3>
                    <ul>
                        <li>Бесплатный широкоэкранный телевизор</li>
                        <li>Скидка 50% на обслуживание в ресторане</li>
                        <li>Скидка 30% на 3+ дневные заказы</li>
                        <li>БЕСПЛАТНЫЕ напитки в номерах</li>
                        <li>Эксклюзивные сувениры</li>
                    </ul>
                    <div class="button"><span><span><a href="#">Забронировать сейчас!</a></span></span></div>
                </div>
                <div class="col-2">
                    <h3>Место нахождения</h3>
                    <p>Мы находимся в центре Бобруйска, в самом центре митинга.</p>
                    <dl class="contacts-list">
                        <dt>Улица Митингуюшая,д.1488</dt>
                        <dd>+375(29)179-07-46</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>