<div class="wrapper">
    <div class="aside maxheight">
        <!-- box begin -->
        <div class="box maxheight">
            <div class="inner">
                <h3>Reservation:</h3>
                <form action="" id="reservation-form">
                    <fieldset>
                        <div class="field"><label>Дата заезда:</label><select class="select1"><option>30</option></select><select class="select2"><option>April 2009</option></select></div>
                        <div class="field"><label>Дата отбытия:</label><select class="select1"><option>01</option></select><select class="select2"><option>May 2009</option></select></div>
                        <div class="field">Количество:<input type="text" value="1"/> Комнат:&nbsp; <input type="text" value="1"/></div>
                        <div class="button"><span><span><a href="#" onclick="document.getElementById('reservation-form').submit()">Поиск</a></span></span></div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- box end -->
    </div>
    <div class="content" id="idContentReservation">
    </div>
</div>