<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
            <h4 class="modal-title">Modify row</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal" id="mainForm" >
                <div class="form-group" >
                    <label class="col-sm-4 control-label">ReservationID</label>
                    <div class="col-sm-8" >
                        <select class="form-control" id="id_reservation" name="id_reservation">

                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-4 control-label">ParkingSpaceID</label>
                    <div class="col-sm-8" >
                        <select class="form-control" id="id_parkingSpace" name="id_parkingSpace">

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button style="width:100%" onclick="" class="btn btn-success">Подтвердить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
    </div>
</div>