<div class="login-form" id="idEntry">
    <div class="bs-docs-example">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#lA" data-toggle="tab">Sign In</a></li>
                <li><a href="#lB" data-toggle="tab">Sign Up</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="lA">
                    <div id="myFormIn">
                        <div class="group">
                            <label for="emailIn" class="label">Email</label>
                            <input id="emailIn" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="passIn" class="label">Пароль</label>
                            <input id="passIn" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" onclick="validateInForm()" value="Sign In">
                        </div>
                        <div class="hr">

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="lB">
                    <div id="myFormUp">
                        <div class="group">
                            <label for="name" class="label">Имя</label>
                            <input id="name" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="surname" class="label">Фамилия</label>
                            <input id="surname" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="passportNumber" class="label">Паспорт</label>
                            <input id="passportNumber" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="login" class="label">Логин</label>
                            <input id="login" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="emailUp" class="label">Email</label>
                            <input id="emailUp" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="passUp" class="label">Пароль</label>
                            <input id="passUp" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="mobilePhone" class="label">Телефон</label>
                            <input id="mobilePhone" type="text" class="input">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" onclick="validateUpForm()" value="Sign Up">
                        </div>
                        <div class="hr"></div>
                    </div>
                </div>
                <p></p>
            </div>
            <p></p>
        </div>
        <p></p>
    </div>
</div>