    <div class="login-form" id="idEntry" style="color:white">
        <div class="modal-header">
            <h4 class="modal-title">Кабинет</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal" id="mainFormPersonalInfo">
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <input type="name" class="form-control" id="name" name="name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="surname" class="col-sm-3 control-label">SurName</label>
                    <div class="col-sm-9">
                        <input type="surname" class="form-control" id="surname" name="surname" placeholder="SurName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">E-mail</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobilePhone" class="col-sm-3 control-label">Mobile Phone</label>
                    <div class="col-sm-9">
                        <input type="mobilePhone" class="form-control" id="mobilePhone" name="mobilePhone" placeholder="Mobile Phone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="login" class="col-sm-3 control-label">Login</label>
                    <div class="col-sm-9">
                        <input type="login" class="form-control" id="login" name="login" placeholder="Login">
                    </div>
                </div>
                <div class="form-group">
                    <label for="passportNumber" class="col-sm-3 control-label">Passport Number</label>
                    <div class="col-sm-9">
                        <input type="passportNumber" class="form-control" id="passportNumber" name="passportNumber" placeholder="Passport Number">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pass" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="pass" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <button onclick="" style="width:100%" id="idAcceptUpdatePersonalInfo" onclick="updatePersonalInfo()" class="btn btn-success">Подтвердить</button>
                    </div>
                    <div class="col-sm-4">
                        <button onclick="" style="width:100%" id="idLogOutUser" onclick="LogOut()" class="btn btn-warning">Выход</button>
                    </div>
                </div>
            </div>
        </div>
    </div>