    <div style="color:white">
        <div class="modal-header">
            <h4 class="modal-title">Кабинет</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal" id="mainForm">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-8">
                        <input type="name" class="form-control" id="name" name="name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="surname" class="col-sm-2 control-label">SurName</label>
                    <div class="col-sm-8">
                        <input type="surname" class="form-control" id="surname" name="surname" placeholder="SurName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobilePhone" class="col-sm-2 control-label">Mobile Phone</label>
                    <div class="col-sm-8">
                        <input type="mobilePhone" class="form-control" id="mobilePhone" name="mobilePhone" placeholder="Mobile Phone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="login" class="col-sm-2 control-label">Login</label>
                    <div class="col-sm-8">
                        <input type="login" class="form-control" id="login" name="login" placeholder="Login">
                    </div>
                </div>
                <div class="form-group">
                    <label for="passportNumber" class="col-sm-2 control-label">Passport Number</label>
                    <div class="col-sm-8">
                        <input type="passportNumber" class="form-control" id="passportNumber" name="passportNumber" placeholder="Passport Number">
                    </div>
                </div>
                <div class="form-group">
                    <label for="passOld" class="col-sm-2 control-label">Password Old</label>
                    <div class="col-sm-8">
                        <input type="passOld" class="form-control" id="passOld" name="passwordOld" placeholder="Password Old">
                    </div>
                </div>
                <div class="form-group">
                <label for="passNew" class="col-sm-2 control-label">Password New</label>
                    <div class="col-sm-8">
                        <input type="passNew" class="form-control" id="passNew" name="passwordNew" placeholder="Password New">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sex" class="col-sm-2 control-label">Sex</label>
                    <div class="radio col-sm-8" id="sex">
                        <label value="М">
                            <input type="radio" name="sex" value="М">
                            М
                        </label>
                        <label value="Ж">
                            <input type="radio" name="sex" value="Ж">
                            Ж
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <button onclick="" style="width:100%" class="btn btn-success">Подтвердить</button>
                    </div>
                    <div class="col-sm-4">
                        <button onclick="" style="width:100%" class="btn btn-warning">Выход</button>
                    </div>
                </div>
            </div>
        </div>
    </div>