* {
	margin : 0;
	padding: 0;
	outline: none;
}
body{
	background: url("../images/bg2.png") #e5e5e5;
	font-size: 12px;
	width: 100%;
	height: 100%;
	font-family: Arial,Tahoma,sans-serif;
}
a{
	text-decoration: none;
	font-size: 12px;
	color:black;
	display: block;
}
a:hover{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
h1{
	margin: 0;
	font-size: 30px;
}
ul{
	list-style: none;
}
.txt24px{
	font-size: 24px;
}
.clr{
	clear: both;
}
.b3radius{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
}
#header{
	position: relative;
	height: 110px;
	max-height: 110px;
	width: 100%;
	background: #FFF;
	margin: 0px;
}
.header_top{
	width: 100%;
	height: 50%;
}
#page_align{
	position: relative;
	margin: 50px auto;
	max-width: 1000px;
	border: solid 1px #bfbfbf;
	box-shadow: 1px 4px 5px #797777;
	-webkit-box-shadow: 1px 4px 5px #797777;
	-o-box-shadow: 1px 4px 5px #797777;
	-moz-box-shadow: 1px 4px 5px #797777;
}
#page_align > .container{
	padding: 0px;
	width: 1000px;
}
.top_left{
	border-bottom: solid 1px #a6a6a6;
	box-shadow: 0px 1px 3px #cccccc;
	-webkit-box-shadow: 0px 1px 3px #cccccc;
	-o-box-shadow: 0px 1px 3px #cccccc;
	-moz-box-shadow: 0px 1px 3px #cccccc;
	display: block;
	height: 100%;
	margin: 0px;
	padding: 0;
	width: 100%;
}
.sidebar li:last-child{
	border-right: none;
}
.sidebar{
	float: left;
	height: 100%;
	list-style: none;
}
.sidebar li{
	height: 100%;
	border-right: solid 1px #a6a6a6;
	float: left;
	list-style: none;

}
.sidebar li a{
	color: #474747;
	font-size: 1em;
	font-weight: bold;
	display: block;
	line-height: 55px;
	padding: 0px 10px;
}
.sidebar li a:hover{
	background: rgba(0,0,0,0.05);
	text-decoration: none;
}
.header_bottom{
	width: 100%;
	height: 50%;
	box-shadow: 0px 11px 9px -7px #a6a6a6 inset, 
								0px -11px 9px -7px #a6a6a6 inset;
	-webkit-box-shadow: 0px 11px 9px -7px #a6a6a6 inset, 
								0px -11px 9px -7px #a6a6a6 inset;
	-o-box-shadow: 0px 11px 9px -7px #a6a6a6 inset, 
								0px -11px 9px -7px #a6a6a6 inset;
	-moz-box-shadow: 0px 11px 9px -7px #a6a6a6 inset, 
								0px -11px 9px -7px #a6a6a6 inset;
	border-bottom: solid 3px #603b7a;

}
.top_right{
	float: right;
	height: 100%;
}
.bottom_left{
	width: 50%;
	height: 100%;
	float: left;
}
.bottom_right{
	width: 50%;
	float: right;
	height: 100%;
}
#h_InfoCity{
	padding: 10px 0px 0px 15px;
}
#btn_registr{
	float: right;
	margin: 10px 15px 0px 0px;
}
p{
	margin-bottom: 35px;
}
input[type=text]{
	height: 35px;
	font-size: 20px;
	width:70%;
}
#id_btn_recovery,#id_btn_Sign_out{
	width: 20%;
	margin-left: 40px;
	height: 100%;
	float: left;
}
#id_Sign_in,#id_btn_Save,#id_inputt {
	width: 10%;
	margin-right: 40px;
	height: 100%;
	float: right;
}
#id_btn_Save{
	width: 20%;
}
.btn_registration{
	background-color: #227aff;
}
.btn_authorization{
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
  	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	background-color: #a6a6a6;
	white-space: nowrap;
	padding: 6px 12px;
	margin:5px 15px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn_authorization > .fa-3x{
	font-size: 2.2em;
}
#content{
	width: 100%;
	height: 795px;
	background:url(../images/bg-offer.png);
	padding-top: 20px;
}
.info_content{
	width: 100%;
	height: 100px;
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
	font-size: 40px;
	-webkit-text-shadow: 3px 4px 2px rgba(0,0,0,0.75);
	-moz-text-shadow: 3px 4px 2px rgba(0,0,0,0.75);
	text-shadow: 3px 4px 2px rgba(0,0,0,0.75);
}
.left_text{
	color: #4F7259;
}
.right_text{
	
	color:#507BB4;
}
.content_top{
	width: 100%;
	height: 50px;
	padding: 5px 0px 0px 90px;

}
.check{
	width: 90%;
	height: 90%;
}
input[type="checkbox"] {
	margin: 0;
}
.check_left{
	width: 50%;
	height: 100%;
	float: left;
	font-weight: bold;
	font-size: 25px;
	color: #4F7259;
	padding-left: 260px;
	text-decoration: underline;
	-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	-moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}
.check_right{
	width: 50%;
	height: 100%;
	float: right;
	font-weight: bold;
	font-size: 25px;
	color: #507BB4;
	-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	-moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	text-decoration: underline;
	padding-left: 40px;
	padding-right: 160px;
}
.Checkbox_1{
	width: 20%;
	height: 100%;
	float: right;
}
#id_Checkbox_1{
	width: 30px;
	height: 30px;
}
.Checkbox_2{
	width: 20%;
	height: 100%;
	float: left;
}
#id_Checkbox_2{
	width: 30px;
	height: 30px;
}
.content_middle{
	height: 0px;
	width: 82%;
	background-color: rgba(17,187,204,0.4);
	margin-top: 20px;
	margin-left: 90px;
	display: none;
}
.content_middle_top{
	height: 50%;
	width: 100%;
}
.content_middle_top > ul {
	width: 100%;
	height: 100%;
}
.content_middle_top > ul >li{
	width: 33.3%;
	height: 100%;
	border: solid 1px #fff;
	float: right;
}
.li_{
	width: 100%;
	height: 100%;
	font-size: 25px;
}
.li_bot{
	width: 100%;
	height: 100%;
	font-size: 25px;
	text-align: center;
}
.li_sport{
	padding: 9px 0px 0px 40px;
}
.li_sport_bot{
	padding: 9px 60px 0px 0px;

}
.chbox{
	width: 25px;
	height: 25px;
	float: left;
	padding: 12px 0px 0px 10px;
}
.chbox_bot{
	width: 25px;
	height: 25px;
	float: left;
	padding: 12px 0px 0px 140px;
}
.chbox_bot_1{
	width: 25px;
	height: 25px;
	float: left;
	padding: 12px 0px 0px 160px;
}
.li_sport_bot_1{
	padding: 9px 120px 0px 0px;

}
#id_chbox{
	width: 25px;
	height: 25px;
	float: left;
}
.content_middle_bottom{
	height: 50%;
	width: 100%;
}
.content_middle_bottom > ul {
	width: 100%;
	height: 100%;
}
.content_middle_bottom > ul >li{
	width: 50%;
	height: 100%;
	border: solid 1px #fff;
	float: right;
}
.content_bottom{
	width: 82%;
	height: 300px;
	margin-top: 40px;
	margin-left: 90px;
}
.text_box{
	height: 300px;
	width: 100%;
	resize: none;
	border-radius: 5px;
	overflow: none;
	box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-webkit-box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-o-box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-moz-box-shadow: 0px 11px 9px -7px #4b4949 inset; 
	padding: 10px 0px 0px 15px;
}
.btnOffer{
	width: 100%;
	height: 100px;
	margin-top: 20px;
	font-size: 40px;
}
.btnOffer:active{
    -webkit-box-shadow: inset 0px 0px 32px 6px rgba(0,0,0,0.52);
    -moz-box-shadow: inset 0px 0px 32px 6px rgba(0,0,0,0.52);
	box-shadow: inset 0px 0px 32px 6px rgba(0,0,0,0.52);
    -o-box-shadow: inset 0px 0px 32px 6px rgba(0,0,0,0.52);
}
#footer{
	width: 100%;
	height: 95px;
	max-height: 95px;
	background-color: #fff;
	box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-webkit-box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-o-box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-moz-box-shadow: 0px 11px 9px -7px #4b4949 inset;
}
.footer_text{
	width: 100%;
	height: 100%;
	text-align: center;
}
.footer_text > h1{
	padding-top: 30px; 
}
.modal {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
@media(max-width: 800px){
	#page_align{
		overflow: scroll;
		width: 100%;
	}
}
@media(min-width: 4001px){
	.btn_authorization > .fa-3x{
		font-size: 1.2em;
	}
	#btn_registr{
		margin: 0;
	}
}
@media(min-width: 4501px){
	#page_align{
	}
	.btn{
		padding: 0;
	}
	.btn_authorization > .fa-3x{
		font-size: 1em;
	}
}