* {
	margin : 0;
	padding: 0;
	outline: none;
}
body{
	background: url("../images/bg2.png") #e5e5e5;
	font-size: 12px;
	width: 100%;
	height: 100%;
	font-family: Arial,Tahoma,sans-serif;
}
a{
	text-decoration: none;
	font-size: 12px;
	color:black;
	display: block;
}
a:hover{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
h1{
	margin: 0;
	font-size: 30px;
}
.btn:focus{
	border: none;
}
.txt24px{
	font-size: 24px;
}
.clr{
	clear: both;
}
p{
	margin-bottom: 35px;
}
input[type=text]{
	height: 35px;
	font-size: 20px;
	width:70%;
}
.b3radius{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
}
#header{
	position: relative;
	height: 110px;
	max-height: 110px;
	width: 100%;
	background: #FFF;
	margin: 0px;
}
.header_top{
	width: 100%;
	height: 50%;
}
#page_align{
	position: relative;
	margin: 50px auto;
	max-width: 1000px;
	border: solid 1px #bfbfbf;
	box-shadow: 1px 4px 5px #797777;
	-webkit-box-shadow: 1px 4px 5px #797777;
	-o-box-shadow: 1px 4px 5px #797777;
	-moz-box-shadow: 1px 4px 5px #797777;
}
#page_align > .container{
	padding: 0px;
	width: 1000px;
}
.top_left{
	border-bottom: solid 1px #a6a6a6;
	box-shadow: 0px 1px 3px #cccccc;
	-webkit-box-shadow: 0px 1px 3px #cccccc;
	-o-box-shadow: 0px 1px 3px #cccccc;
	-moz-box-shadow: 0px 1px 3px #cccccc;
	display: block;
	height: 100%;
	margin: 0px;
	padding: 0;
	width: 100%;
}
.sidebar li:last-child{
	border-right: none;
}
.sidebar{
	float: left;
	height: 100%;
	list-style: none;
}
.sidebar li{
	height: 100%;
	border-right: solid 1px #a6a6a6;
	float: left;
	list-style: none;

}
.sidebar li a{
	color: #474747;
	font-size: 1em;
	font-weight: bold;
	display: block;
	line-height: 55px;
	padding: 0px 10px;
}
.sidebar li a:hover{
	background: rgba(0,0,0,0.05);
	text-decoration: none;
}
.header_bottom{
	width: 100%;
	height: 50%;
	box-shadow: 0px 11px 9px -7px #a6a6a6 inset, 
								0px -11px 9px -7px #a6a6a6 inset;
	-webkit-box-shadow: 0px 11px 9px -7px #a6a6a6 inset, 
								0px -11px 9px -7px #a6a6a6 inset;
	-o-box-shadow: 0px 11px 9px -7px #a6a6a6 inset, 
								0px -11px 9px -7px #a6a6a6 inset;
	-moz-box-shadow: 0px 11px 9px -7px #a6a6a6 inset, 
								0px -11px 9px -7px #a6a6a6 inset;
	border-bottom: solid 3px #603b7a;

}
.top_right{
	float: right;
	height: 100%;
}
.bottom_left{
	width: 50%;
	height: 100%;
	float: left;
}
.bottom_right{
	width: 50%;
	float: right;
	height: 100%;
}
#h_InfoCity{
	padding: 10px 0px 0px 15px;
}
#btn_registr{
	float: right;
	margin: 10px 15px 0px 0px;
}
.btn_registration{
	background-color: #227aff;
}
.btn_authorization{
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
  	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	background-color: #a6a6a6;
	white-space: nowrap;
	padding: 6px 12px;
	margin:5px 15px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn_authorization > .fa-3x{
	font-size: 2.2em;
}
#content{
	width: 100%;
	height: 795px;
	background-color: #fff;
}
.content_left{
	float: left;
	height: 100%;
	width: 33%;
	background:url(../images/comunity-content.png);
	margin: 0;
}
.list_users{
	float: left;
	height: 86%;
	width: 80%;
	margin: 35px 0px 0px 35px;
	background-color: #789;
	border: solid 3px #ccc;
	box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-webkit-box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-o-box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-moz-box-shadow: 0px 11px 9px -7px #4b4949 inset; 
	overflow: auto;
}
.list_users > div{
	height: 45px;
	width: 100%;
	background-color: #4b82b9;
	margin-bottom: 1px;
	border: solid 1px #fff;
}
.list_users > div > a{
	display: block;
	font-size: 16px;
	width: 100%;
	height: 45px;
	cursor: pointer;
	padding: 10px 0px 0px 30px;
	color: #faf2cc;
}
.list_users > div > a:hover{
	color:#ccc;
}
.update_users{
	height: 40px;
	width: 80%;
	margin: 5px 0px 0px 35px;
	background-color: #789;
	font-size: 16px;
}
.content_right{
	float: right;
	margin: 0;
	height: 100%;
	width: 67%;
	background-color: #123;
}
.content_right_top{
	height: 85%;
	width: 100%;
}
.chat{
	float: right;
	height: 94%;
	width: 80%;
	margin: 35px 60px 0px 0px;
	background-color: #f3e2e2;
	border: solid 3px #ccc;
	-webkit-box-shadow: inset 0px 0px 32px 6px rgba(0,0,0,0.52);
    -moz-box-shadow: inset 0px 0px 32px 6px rgba(0,0,0,0.52);
	box-shadow: inset 0px 0px 32px 6px rgba(0,0,0,0.52);
    -o-box-shadow: inset 0px 0px 32px 6px rgba(0,0,0,0.52);
	overflow: auto;
}
.input_message{
	width: 100%;
	height: 60px;
}
.text_box{
	float: left;
	width: 65%;
	height: 40px;
	margin: 0px 0px 0px 74px;
	background-color: #fff;
	font-size: 16px;
	border: solid 2px #4b82b9;
	box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-webkit-box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-o-box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-moz-box-shadow: 0px 11px 9px -7px #4b4949 inset; 
}
.content_right_bottom{
	height: 15%;
	width: 100%;
}
.input_message > .Send{
	float: right;
	width: 90px;
	height: 40px;
	margin-right: 65px; 
	background-color: #fff;
	-webkit-box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.52);
    -moz-box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.52);
	box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.52);
    -o-box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.52); 
}
#id_chat_line{
	width: 100%;
	font-size: 18px;
	height: auto;
	overflow: auto;
	border-bottom: solid 1px;
}
#id_login{
	height: 40px;
	width: 80%;
	margin: 5px 0px 0px 35px;
	background-color: #789;
	font-size: 16px;
}
#footer{
	width: 100%;
	height: 95px;
	max-height: 95px;
	background-color: #fff;
	box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-webkit-box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-o-box-shadow: 0px 11px 9px -7px #4b4949 inset;
	-moz-box-shadow: 0px 11px 9px -7px #4b4949 inset;
}
#id_btn_recovery,#id_btn_Sign_out{
	width: 20%;
	margin-left: 40px;
	height: 100%;
	float: left;
}
#id_Sign_in,#id_btn_Save,#id_inputt {
	width: 10%;
	margin-right: 40px;
	height: 100%;
	float: right;
}
#id_btn_Save{
	width: 20%;
}
.footer_text{
	width: 100%;
	height: 100%;
	text-align: center;
}
.footer_text > h1{
	padding-top: 30px; 
}
.modal {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.password{
	margin-left: 10px;
}
@media(max-width: 800px){
	#page_align{
		overflow: scroll;
		width: 100%;
	}
}
@media(min-width: 4001px){
	.btn_authorization > .fa-3x{
		font-size: 1.2em;
	}
	#btn_registr{
		margin: 0;
	}
}
@media(min-width: 4501px){
	#page_align{
	}
	.btn{
		padding: 0;
	}
	.btn_authorization > .fa-3x{
		font-size: 1em;
	}
}