<a class="docRef" href="/create_doc?docname=reservation_voucher&id=4">Электронный ваучер на проживание</a></br>
<a class="docRef" href="/create_doc?docname=reservation_confirm&id=4">Подтверждение брони</a></br>
<a class="docRef" href="/create_doc?docname=room_document&id=2">Информация о номере</a></br>
<a class="docRef" href="/create_doc?docname=user_document&id=2">Информация о пользователе</a></br>
<a class="docRef" href="/create_doc?docname=room_type_document&id=4">Информация о типе номера</a></br>
<a class="docRef" href="/create_doc?docname=room_report&type=by_month&year=2017">Отчет по комнатам по месяцам</a></br>
<a class="docRef" href="/create_doc?docname=room_report&type=by_quarter&year=2017">Отчет по комнатам по кварталам</a></br>
<a class="docRef" href="/create_doc?docname=financial_report&type=by_month&year=2017">Годовой отчет по месяцам</a></br>
<a class="docRef" href="/create_doc?docname=financial_report&type=by_quarter&year=2017">Годовой отчет по кварталам</a></br>
<a class="docRef" href="/create_doc?docname=reservation_report&id=4">Брони пользователя</a></br>
<a class="docRef" href="/create_doc?docname=entity_csv_report&entity=room">Отчет по комнатам</a></br>
<a class="docRef" href="/create_doc?docname=entity_csv_report&entity=reservation">Отчет по броням</a></br>
<a class="docRef" href="/create_doc?docname=entity_csv_report&entity=room_type">Отчет по типам комнат</a></br>
<a class="docRef" href="/create_doc?docname=entity_csv_report&entity=user">Отчет по пользователям</a></br>
<a class="docRef" href="/create_doc?docname=entity_csv_report&entity=role">Отчет по ролям</a></br>
